{% extends "layout.twig" %}

{% block pagetitle %}Activités{% endblock %}

{% block activiteactive %} class="active"{% endblock %}

{% block content %}
<div class="content clearfix">
  <div class="col-md-6 block">
    <div class="title">
      <h1>Campagnes d'urgence</h1>
    </div>
    <p>Les «Campagnes d’urgence» sont l’une des activités fondatrices de l’OMCT. Elles ont pour objectif de répondre le plus rapidement possible aux rapports faisant état de violations graves des droits de l’homme, qu’il s’agisse en particulier de cas de torture et de mauvais traitements, de disparitions forcées et d’exécutions extrajudiciaires rapportés par les membres du réseau SOS-Torture et autres organisations partenaires. ar la surveillance des situations et l’anticipation des événements, les « Campagnes d’urgence » visent à protéger les victimes.</p>
    <button type="button" class="btn btn-primary">Voir plus</button>
  </div>

  <div class="col-md-6 block">
    <div class="title">
      <h1>Droits de l'enfant</h1>
    </div>
    <p>Les activités Droits de l’enfant de l’OMCT visent à protéger les enfants contre la torture et les autres formes de violence ainsi qu’à défendre leurs droits au travers de la prévention, de la dénonciation, de l’octroi de réparations et du plaidoyer. En prenant en compte la nature propre de la violence perpétrée à l’égard des enfants, et ses conséquences particulières, l’OMCT s’efforce de protéger les enfants qui sont victimes ou menacés de torture et autres peines ou traitements cruels, inhumains ou dégradants.</p>
    <button type="button" class="btn btn-primary">Voir plus</button>
  </div>

  <div class="col-md-6 block">
    <div class="title">
      <h1>Assistance aux victimes de torture</h1>
    </div>
    <p>L’assistance d’urgence aux victimes de la torture s’intègre dans un effort global de l’OMCT de veiller à ce que les victimes de la torture obtiennent réparation et réhabilitation, en veillant à donner une réponse immédiate à leurs besoins, et ce de manière efficace et appropriée. L’OMCT est à ce jour la seule organisation non gouvernementale à fournir la première assistance d’urgence de type médical, juridique et/ou social à des femmes, des hommes et des enfants qui ont souffert de la torture ou qui encourent le risque d’être torturés.</p>
    <button type="button" class="btn btn-primary">Voir plus</button>
  </div>

  <div class="col-md-6 block">
    <div class="title">
      <h1>Violence contre les femmes</h1>
    </div>
    <p>En dépit de la prise de conscience internationale croissante du problème de la violence sexospécifique et de la volonté déclarée des Etats de la combattre, les femmes et les filles continuent de souffrir de cette violence de manière disproportionnée, que ce soit en temps de paix et dans le cadre de conflits armés, dans la famille, aux côtés d’un partenaire, au sein de la communauté et aux mains d’agents de l’Etat. La violence est souvent de nature sexuelle.</p>
    <button type="button" class="btn btn-primary">Voir plus</button>
  </div>

  <div class="col-md-6 block">
    <div class="title">
      <h1>Défenseurs des droits de l'homme</h1>
    </div>
    <p>Lutter pour le respect des droits de l’homme est une activité à hauts risques et les groupes et individus qui, dans plus de 80 pays, s’engagent dans cette voie sont la cible privilégiée des autorités et de groupes privés. Les défenseurs des droits de l’homme sont victimes de menaces, d’attaques, d’arrestations, de détentions arbitraires et d’actes de torture. Depuis sa création, l’OMCT a joué un rôle pionnier dans la protection des défenseurs des droits de l’homme en dénonçant la répression dont ils sont victimes.</p>
    <button type="button" class="btn btn-primary">Voir plus</button>
  </div>

  <div class="col-md-6 block">
    <div class="title">
      <h1>Surveillance des mécanismes</h1>
    </div>
    <p>Les mécanismes internationaux et régionaux conventionnels et non conventionnels des droits de l’homme veillent au respect des engagements internationaux des Etats. L’OMCT facilite l’accès des victimes et des ONG locales à ces mécanismes et leur fournit un soutien juridique et pratique. L’OMCT soumet des informations alternatives (interventions, notes de suivi et présentations orales) et des communications individuelles aux mécanismes de protection des Nations Unies et régionaux (américains, africain et européen).</p>
    <button type="button" class="btn btn-primary">Voir plus</button>
  </div>
</div>
{% endblock %}
