{% extends "layout.twig" %}

{% block pagetitle %}Don{% endblock %}

{% block donneractive %} class="activedon"{% endblock %}

{% block content %}
<div class="content clearfix">
  <div class="col-md-8">
    <div class="title">
      <h1>Faire une donation en ligne</h1>
    </div>
    <p>Merci d’avoir choisi d’aider les activités de l’OMCT en faveur des victimes de violations des droits humains. Les actions de l’OMCT sont rendues possibles grâce aux dons et aux subventions. En faisant un don à l’OMCT – de quelque importance que ce soit – vous contribuez à améliorer la situation de ces victimes.</p>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="selectTitre" class="col-sm-3 control-label">Titre</label>
          <div class="col-sm-9">
            <select class="selectpicker" id="selectTitre">
              <option>Monsieur</option>
              <option>Madame</option>
              <option>Mademoiselle</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="inputname1" class="col-sm-3 control-label">Prénom</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputname1" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label for="inputname2" class="col-sm-3 control-label">Nom</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputname2" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label for="inputstreet" class="col-sm-3 control-label">Rue</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputstreet" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label for="inputpostalcode" class="col-sm-3 control-label">Code postal et Ville</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="inputpostalcode" placeholder="">
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputctity" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label for="inputphone" class="col-sm-3 control-label">Téléphone</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputphone" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="inputEmail3" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label for="inputcard" class="col-sm-3 control-label">Code</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="inputcard1" placeholder="">
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="inputcard2" placeholder="">
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="inputcard3" placeholder="">
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="inputcard4" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label for="selectmonth" class="col-sm-3 control-label">Date d'expiration</label>
          <div class="col-sm-3">
            <select class="selectpicker" id="selectmonth">
              <option>01 (Jan.)</option>
              <option>02 (Feb.)</option>
              <option>03 (March)</option>
              <option>04 (April)</option>
              <option>05 (May)</option>
              <option>06 (June)</option>
              <option>07 (July)</option>
              <option>08 (Aug.)</option>
              <option>09 (Sept.)</option>
              <option>10 (Oct.)</option>
            </select>
          </div>
          <div class="col-sm-3">
            <select class="selectpicker" id="selectyear">
              <option>2014</option>
              <option>2015</option>
              <option>2016</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="inputcod" class="col-sm-3 control-label">Code de vérification</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputcod" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label for="inputcod" class="col-sm-3 control-label">Montant (en CHF)</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputcod" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
              <label>
                <input type="checkbox"> Je n'ai pas besoin d'une
                attestation de don
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="textarea" class="col-sm-3 control-label">Commentaire</label>
          <div class="col-sm-9">
            <textarea class="form-control" rows="3" id="textarea"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
              <label>
                <input type="checkbox"> J'ai lu et approuvé les conditions générales de donations de OMCT
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Envoyer</button>
            <button type="submit" class="btn btn-default">Annuler</button>
          </div>
        </div>
      </form>
    </div>
  <div class="col-md-4 clearfix">
    <div class="title">
      <h1>Cordonnées</h1>
    </div>
    <address>
      <p><strong>OMCT SOS TORTURE - UBS CHF</strong></p>
      Union de Banque Suisse UBS SA<br>
      Agence du Rhône<br>
      1211 Genève 2<br>
      <p>Suisse</p>

      bénéficiaire: OMCT SOS TORTURE<br>
      IBAN: CH91 0027 9279 C810 6675 0<br>
      Numéro de compte: 279-C8106675.0 (OMCT)<br>
      SWIFT : UBSWCHZH80A<br>
      Clearing : 279<br>
    </address>
    <address>
      <p><strong>OMCT SOS TORTURE - L&O</strong></p>
      LODH & Cie <br>
      Banque Lombard Odier Darier Hentsch et Cie<br>
      rue de la Corraterie 11<br>
      1204 Geneva<br>
      <p>Suisse</p>

      bénéficiaire: OMCT SOS TORTURE<br>
      IBAN: CH25 0876 0000 0088 5150 0<br>
      Numéro de compte: 88515<br>
      SWIFT : LOCYCHGG<br>
    </address>
    <address>
      <p><strong>OMCT SOS TORTURE - UBS EUROS</strong></p>
      Union de Banque Suisse UBS SA<br>
      Agence du Rhône<br>
      1211 Genève 2<br>
      <p>Suisse</p>

      bénéficiaire: OMCT SOS TORTURE<br>
      IBAN : CH10 0027 9279 C810 6675 3<br>
      Numéro de compte: 279-C8106675.3 (OMCT)<br>
      SWIFT : UBSWCHZH80A<br>
      BIC: UBSWCHZH80A<br>
    </address>
  </div>

  </div>
{% endblock %}
