{% extends "layout.twig" %}

{% block pagetitle %}Homepage{% endblock %}

{% block content %}
<div class="content">
  <div class="col-md-8">
    <div class="title">
      <h1>Organisation mondiale contre la torture</h1>
    </div>
    <p>Créée en 1985, l’Organisation Mondiale Contre la Torture (OMCT) constitue aujourd’hui la principale coalition internationale d’organisations non gouvernementales (ONG) luttant contre la torture, les exécutions sommaires, les disparitions forcées et tout autre traitement cruel, inhumain ou dégradant. Avec 311 organisations affiliées dans le monde à son Réseau SOS-Torture et plusieurs dizaines de milliers de correspondants dans tous les pays, l’OMCT est le plus important réseau d’organisations non gouvernementales actives dans la protection et la promotion des droits de l’homme dans le monde.</p>
    <img src="http://lorempixel.com/583/350/cats" alt="Some cats image">
    <div class="title">
      <h1>Points forts</h1>
    </div>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              Etats-Unis:  Examen des Etats-Unis par le Comité contre la Torture
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo id est convenienter naturae vivere, a natura discedere. Partim cursu et peragratione laetantur, congregatione aliae coetum quodam modo civitatis imitantur; Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba. Duo Reges: constructio interrete.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Guatemala:  Conclusion de la mission de suivi
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo id est convenienter naturae vivere, a natura discedere. Partim cursu et peragratione laetantur, congregatione aliae coetum quodam modo civitatis imitantur; Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba. Duo Reges: constructio interrete.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              L'OMCT célèbre le 25ème anniversaire de la Convention
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo id est convenienter naturae vivere, a natura discedere. Partim cursu et peragratione laetantur, congregatione aliae coetum quodam modo civitatis imitantur; Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba. Duo Reges: constructio interrete.
          </div>
        </div>
      </div>
    </div>
    <div class="title">
      <h1>Derniers Articles</h1>
    </div>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              Réflexions à l'occasion du 30eme anniversaire de la Convention
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo id est convenienter naturae vivere, a natura discedere. Partim cursu et peragratione laetantur, congregatione aliae coetum quodam modo civitatis imitantur; Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba. Duo Reges: constructio interrete.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Rwanda: L'Assemblée Générale de la « LIPRODHOR » doit se tenir
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo id est convenienter naturae vivere, a natura discedere. Partim cursu et peragratione laetantur, congregatione aliae coetum quodam modo civitatis imitantur; Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba. Duo Reges: constructio interrete.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              Rwanda: Arrestation de M. Daniel Uwimana
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo id est convenienter naturae vivere, a natura discedere. Partim cursu et peragratione laetantur, congregatione aliae coetum quodam modo civitatis imitantur; Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba. Duo Reges: constructio interrete.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 pub">
    <div class="title">
      <h1>Publicité</h1>
    </div>
    <img src="../img/3.gif">
    <img src="../img/2.jpg">
    <img src="../img/1.jpg">
  </div>
</div>
{% endblock %}
