<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block pagetitle %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../css/omct.css">
    </head>
    <body>
        <div class="header">
          <div class="header-container">
            <img src="../img/logo.png" alt="" class="logo">
            <ol class="breadcrumb">
              <li><a href="#">FR</a></li>
              <li><a href="#">EN</a></li>
              <li><a href="#">ESP</a></li>
            </ol>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Rechercher">
              <span class="input-group-btn">
                <button class="btn btn-info" type="button"><img src="../img/loupe.png"></button>
              </span>
            </div>
            <ul class="nav nav-tabs">
              <li class="active"><a href="#">Accueil</a></li>
              <li><a href="#">Activité</a></li>
              <li class="dropdown">
                <a data-toggle="dropdown" href="#">
                  CAT <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Participation de la société civile</a></li>
                  <li><a href="#">Restez informé</a></li>
                  <li><a href="#">Suivi</a></li>
                  <li><a href="#">Prochaine session</a></li>
                  <li><a href="#">E-bulletin</a></li>
                  <li><a href="#">FAQ</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a data-toggle="dropdown" href="#">
                  Le réseau OMCT <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">A propos de Réseau</a></li>
                  <li><a href="#">Afrique</a></li>
                  <li><a href="#">Amérique</a></li>
                  <li><a href="#">Asie</a></li>
                  <li><a href="#">Europe</a></li>
                  <li><a href="#">Maghreb et Moyen-Orient</a></li>
                  <li><a href="#">Pacifique</a></li>
                </ul>
              </li>
              <li><a href="#">OMCT Europe</a></li>
              <li class="dropdown">
                <a data-toggle="dropdown" href="#">
                  A propos de l'OMCT <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Historique</a></li>
                  <li><a href="#">Equipe</a></li>
                  <li><a href="#">Conseil exécutif</a></li>
                  <li><a href="#">Assemblée générale</a></li>
                  <li><a href="#">Prix</a></li>
                  <li><a href="#">Collaborations (FIFDH)</a></li>
                  <li><a href="#">Vacancies and Internships</a></li>
                </ul>
              </li>
              <li><a href="#">Contacts</a></li>
              <li><a id="donner" href="#">Donner</a></li>
            </ul>
          </div>
        </div>
        {% block content %}{% endblock %}
        <footer>
          <div class="footer-container clearfix">

            <div class="bloc1">
              <h2>Contact</h2>
              <address>
                <p><strong>Secrétariat international de l’OMCT</strong></p><br>
                CP 21, 8, rue du Vieux-Billard<br>
                CH-1211 Genève 8<br>
                <p>Suisse</p>

                Tel: +41 22 809 4939<br>
                Fax: +41 22 809 4929<br>
                <a href="mailto:#">first.last@example.com</a>
              </address>

              <address>
                <p><strong>OMCT Europe</strong></p><br>
                Rue Stevin 115<br>
                1000 Bruxelles<br>
                <p>Belgique</p>

                Tel: +32 2 218 37 19<br>
                Fax: +32 2 218 37 19<br>
                <a href="mailto:#">omcteurope@omct.org </a>
              </address>
            </div>

            <div class="bloc2">
              <h2>Social</h2>
              <div class="social">
                <img src="../img/sociaux.svg" alt="sociaux">
              </div>
            </div>

          </div>
        </footer>
        <script src="../js/vendors.min.js"></script>
        <script src="../js/main.min.js"></script>
    </body>
</html>
