@charset "UTF-8";

/*doc
---
title: Sizes
name: c-sizes
category: Components - Input groups
---

```html_example
<div class="input-group input-group-lg">
  <span class="input-group-addon">@</span>
  <input type="text" class="form-control" placeholder="Username">
</div>

<br>

<div class="input-group">
  <span class="input-group-addon">@</span>
  <input type="text" class="form-control" placeholder="Username">
</div>

<br>

<div class="input-group input-group-sm">
  <span class="input-group-addon">@</span>
  <input type="text" class="form-control" placeholder="Username">
</div>
```
*/


/*doc
---
title: Button addon
name: e-button-addon
category: Components - Input groups
---

```html_example
<div class="input-group">
  <input type="text" class="form-control" placeholder="Rechercher">
  <span class="input-group-btn">
    <button class="btn btn-info" type="button"><img src="../../img/loupe.png"></button>
  </span>
</div>
```
*/

.input-group button {
  width:50px;
}

.input-group button img {
  width:17px;
  height:17px;

}
