@charset "UTF-8";

/*doc
---
title: Default thumbnail
name: a-thumbnail
category: Components - Thumbnails
---

```html_example
<div class="thumbnail">
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://lorempixel.com/300/300/cats" alt="Some cats image">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://lorempixel.com/300/300/cats" alt="Some cats image">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://lorempixel.com/300/300/cats" alt="Some cats image">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://lorempixel.com/300/300/cats" alt="Some cats image">
    </a>
  </div>
</div>
</div>
```
*/

.thumbnail {
  border:0;
}

.thumbnail img:hover {
  opacity:0.4;
}

.col-md-3 {
  width:20%;
}

.thumbnail, .thumbnail:after, .thumbnail:before {
  box-sizing: initial;
}
