@charset "UTF-8";

/*doc
---
title: Accordion
name: a-accordion
category: JavaScript - Collapse
---

```html_example
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Collapsible Group Item #1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo id est convenienter naturae vivere, a natura discedere. Partim cursu et peragratione laetantur, congregatione aliae coetum quodam modo civitatis imitantur; Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba. Duo Reges: constructio interrete.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Collapsible Group Item #2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo id est convenienter naturae vivere, a natura discedere. Partim cursu et peragratione laetantur, congregatione aliae coetum quodam modo civitatis imitantur; Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba. Duo Reges: constructio interrete.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Collapsible Group Item #3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo id est convenienter naturae vivere, a natura discedere. Partim cursu et peragratione laetantur, congregatione aliae coetum quodam modo civitatis imitantur; Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba. Duo Reges: constructio interrete.
      </div>
    </div>
  </div>
</div>
```
*/

.panel { box-shadow: none; }
.panel-group .panel { border-radius:0; }
.panel-default > .panel-heading { background: #868686; border-radius:0; }
.panel-title > a {
  background: url("../img/cross.svg") no-repeat right -21px;
  display: block;
}
.panel-title > a.collapsed { background: url("../img/cross.svg") no-repeat right -1px; }
.panel-title > a:focus { outline: none; }
.panel-body { color: #868686; }
