@charset "UTF-8";

/*doc
---
title: Input
name: a-input
category: Layout - Form
---

```html_example
<input type="text" class="form-control" placeholder="Text input"><br>
<input type="text" class="form-control" placeholder="Text input" disabled>
```
*/

.form-control { box-shadow: none; }
.form-control:focus { border-color:$gray-dark; box-shadow: none; }

/*doc
---
title: Textarea
name: a-textarea
category: Layout - Form
---

```html_example
<textarea class="form-control" rows="3"></textarea>
```
*/


/*doc
---
title: Checkboxes and radios
name: b-checkbox-radio
category: Layout - Form
---

```html_example
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Option one is this and that&mdash;be sure to include why it's great
  </label>
</div>
```
*/


/*doc
---
title: Selects
name: d-select
category: Layout - Form
---

```html_example
<select class="selectpicker">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
```
*/


/*doc
---
title: Static control
name: e-static
category: Layout - Form
---

```html_example
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <p class="form-control-static">email@example.com</p>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>
</form>
```
*/


/*doc
---
title: Horizontal form
name: k-horizontal-form
category: Layout - Form
---

```html_example
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</form>
```
*/

/*doc
---
title: Validations
name: l-validation
category: Layout - Form
---

```html_example
<div class="form-group has-success has-feedback">
  <label class="control-label" for="inputSuccess2">Input with success</label>
  <input type="text" class="form-control" id="inputSuccess2">
  <span class="glyphicon glyphicon-ok form-control-feedback"></span>
</div>
<div class="form-group has-error has-feedback">
  <label class="control-label" for="inputError2">Input with error</label>
  <input type="text" class="form-control" id="inputError2">
  <span class="glyphicon glyphicon-remove form-control-feedback"></span>
</div>
```
*/

.has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label, .has-success .help-block, .has-success .radio, .has-success .radio-inline, .has-success.checkbox label, .has-success.checkbox-inline label, .has-success.radio label, .has-success.radio-inline label {
  color: $green;
}
.has-success .form-control { border-color: $green; }
.has-success .form-control:focus { border-color: $green; box-shadow: none; }
.has-success .form-control-feedback { color: $green; }

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
  color: $red;
}
.has-error .form-control { border-color: $red; }
.has-error .form-control:focus { border-color: $red; box-shadow: none; }
.has-error .form-control-feedback { color: $red; }
