@charset "UTF-8";

/*doc
---
title: Header
name: a-header
category: Layout - Header
---

```html_example
<div class="header">
  <div class="header-container">
    <img src="img/logo.png" alt="">
  </div>
</div>
```
*/

.header { background: $gray-light; height: auto; width: 100%; }
.header .header-container { margin: 0 auto; width: 920px; }
.header .header-container .logo { float: left; margin: 30px 0; }

/*doc
---
title: Header + Elements
name: a-header + elements
category: Layout - Header
---

```html_example
<div class="header">
  <div class="header-container">
    <img src="img/logo.png" alt="" class="logo">
    <ol class="breadcrumb">
      <li><a href="#">FR</a></li>
      <li><a href="#">EN</a></li>
      <li><a href="#">ESP</a></li>
    </ol>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Rechercher">
      <span class="input-group-btn">
        <button class="btn btn-info" type="button"><img src="../../img/loupe.png"></button>
      </span>
    </div>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">Accueil</a></li>
      <li><a href="#">Activité</a></li>
      <li class="dropdown">
        <a data-toggle="dropdown" href="#">
        Dropdown <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
        </ul>
      </li>
      <li><a id="donner" href="#">Donner</a></li>
    </ul>
  </div>
</div>
```
*/

.header .header-container .input-group { clear: right; float: right; width: 300px; }
.header .header-container .breadcrumb { float: right; margin-top: 30px; }
.header .header-container .nav { clear: both; }
