@charset "UTF-8";

/*doc
---
title: Titles
name: a-titles
category: Layout - Typography
---

```html_example
<div class="title"><h1>My title level 1</h1></div>
<h2>My title level 2</h2>
<h3>My title level 3</h3>
```
*/

.title h1 {
  background: #fff;
  color: #515151;
  display: inline-block;
  font-weight: 600;
  padding: 0 20px;
  position: relative;
}

.title h1:before {
  background: url("../img/arrow.svg") no-repeat center;
  content: "";
  height: 15px;
  left: -5px;
  position: absolute;
  top: 5px;
  width: 15px;
}

.title {
  border-bottom: 1px solid #868686;
  height: 33px;
  margin-bottom: 40px;
  width: 100%;
}

h2 { color: #868686; font-weight: 600; margin-bottom: 40px; }
h3 { color: #515151; font-weight: 400; margin-bottom: 20px; }


/*doc
---
title: Paragraphs
name: c-paragraphs
category: Layout - Typography
---

```html_example
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ita separantur, ut disiuncta sint, quo nihil potest esse perversius. An est aliquid, quod te sua sponte delectet? Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Re mihi non aeque satisfacit, et quidem locis pluribus. Neque solum ea communia, verum etiam paria esse dixerunt. Sed haec omittamus; Quarum ambarum rerum cum medicinam pollicetur, luxuriae licentiam pollicetur. Duo Reges: constructio interrete. Re mihi non aeque satisfacit, et quidem locis pluribus.
</p>
```
*/

p { color: #868686; }


/*doc
---
title: Address
name: i-address
category: Layout - Typography
---

```html_example
<address>
  <strong>Twitter, Inc.</strong><br>
  795 Folsom Ave, Suite 600<br>
  San Francisco, CA 94107<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>

<address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">first.last@example.com</a>
</address>
```
*/

address { color: #868686; }
address a { color: #ED3324; }
